{{> header}}
{{> body_start}}
	<h2>Add your objects to the world</h2>
	<form action="{{public}}upload" method="post" enctype="multipart/form-data">
		<select name="type">
			<option value="models" selected="selected">Object</option>
			<option value="textures">Texture (images on objects)</option>
			<option value="sounds">Sound</option>
			<option value="avatars">Avatar</option>
			<option value="seqs">Sequence (with avatars)</option>
		</select>
		<input type="hidden" name="MAX_FILE_SIZE" value="{{upload_max_filesize}}">
		<input type="file" name="file">
		<input type="submit" value="Add to BBCN">
	</form>
	{{# message}}
		<p style="color: blue;">Almost: {{message}}</p>
		<!-- {{& debug}} -->
	{{/ message}}
	{{# error}}
		<p style="color: red;">Sorry, something went wrong.</p>
		<p>We know about it and will fix it soon!</p>
		<!-- {{& error.message}} -->
	{{/ error}}
	{{# uploaded}}
		<p>Everything ok, {{uploaded.type}} {{uploaded.name}} uploaded to OP.</p>
		{{# uploaded.type_texture}}
		<br>
		<img src="http://mops.l3d.nl/bbcn/textures/{{uploaded.name}}" style="max-width: 400; max-height: 300px; border: 1px solid #AAA;">
		{{/ uploaded.type_texture}}
	{{/ uploaded}}
{{> body_end}}
{{> footer}}
