{{> header}}
{{> style upload/generic}}
{{> body_start}}
	<h2>Toevoegen</h2>
	<div id="dropbox">
		<p>drop hier je object</p>
	</div>
	<div class="revealElement" title="Bladeren naar objecten">
		<form action="{{public}}objecten/toevoegen" method="post" enctype="multipart/form-data">
			<input type="hidden" name="MAX_FILE_SIZE" value="{{upload_max_filesize}}">
			<input type="file" name="file">
			<input type="submit" value="Toevoegen">
		</form>
	</div>
	{{# message}}
		<p style="color: blue;">Almost: {{message}}</p>
		<!-- {{& debug}} -->
	{{/ message}}
	{{# error}}
		<p style="color: red;">Sorry, something went wrong.</p>
		<p>We know about it and will fix it soon!</p>
		<!-- {{& error.message}} -->
	{{/ error}}
	{{# uploaded}}
		<p>Everything ok, {{uploaded.type}} {{uploaded.name}} uploaded to OP.</p>
		{{# uploaded.type_texture}}
		<br>
		<img src="http://mops.l3d.nl/bbcn/textures/{{uploaded.name}}" style="max-width: 400; max-height: 300px; border: 1px solid #AAA;">
		{{/ uploaded.type_texture}}
	{{/ uploaded}}
	
	{{# recent}}
	<h2>Recent toegevoegd</h2>
	{{/ recent}}
	
	{{# populair}}
	<h2>Populair</h2>
	{{/ populair}}
	
	<h2>Alle objecten</h2>
	<form action="{{public}}objecten">
		<input type="text" name="q">
		<input type="submit" value="zoeken">
	</form>
{{> body_end}}
{{> footer}}
