.term {
	color: #AA122B;
}
.call {
	font-weight: bold;
}
.more a, .less {
	background-color: #EEE;
}

#left, #right {
	float: right;
	width: 222px;
	opacity: 0.3;
}
#left:hover, #right:hover {
	opacity: 0.6;
}
#left {
	margin-left: -149px;
	padding-right: 20px;
}
#right {
	margin-right: -149px;
	padding-left: 20px;
}
#left h3 {
	text-align: right;
}
#left h3 a, #right h3 a {
	text-decoration: none;
}
#left h3 span, #right h3 span {
	color: #AA122B;
}
#left:hover a, #left a:active, #right:hover a, #right a:active {
	color: #AA122B;
}

#contact {
	float: right;
	width: 250px; /* max is 315px */
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 10px;
}

#projects {
	float: right;
	height: 100%;
	border-left: 1px solid #AA122B;
	overflow: hidden;
}
#projects div {
	float: right;
	margin-left: -1px;
	padding: 0 20px 1em;
	width: 222px;
	border-left: 1px solid #AA122B;
	border-right: 1px solid #AA122B;
}
#projects img {
	width: 220px;
	border: 1px solid #AAA;
}

#development {
	clear: both;
	margin-left: 0;
	padding: 0 1em;
	height: 100%;
	list-style-type: none;
	text-align: center;
	border-top: 1px solid #AA122B;
	overflow: hidden;
}
#development li {
	display: inline-block;
	margin: 0 1em;
	padding: 3px;
	width: 200px;
	text-align: center;
	border: 1px solid #AAA;
}
#development h4 {
	margin-top: 0;
	margin-bottom: 0.75em;
	padding: 0.25em 0 0.5em;
	color: #555;
	border-bottom: 1px solid #AAA;
}
#development img {
	height: 25px;
	border: none;
}
#development li p {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
