<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={{charset}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	
	<title>{{# head_title}}{{head_title}} - {{/ head_title}}L3D tools</title>
	{{# page_description}}
	<meta name="description" content="{{page_description}}">
	{{/ page_description}}
	{{^ page_description}}
	<meta name="description" content="L3D tools helpt in en rondom de virtuele omgevingen van L3D ActiveWorlds.">
	{{/ page_description}}
	{{# page_keywords}}
	<meta name="keywords" content="{{page_keywords}}">
	{{/ page_keywords}}
	{{^ page_keywords}}
	<meta name="keywords" content="l3d, activeworlds, tools, gallery, exhibition, teleport, objectpath, upload, telegram, search, facebook, analytics, status">
	{{/ page_keywords}}
	
	<link rel="shortcut icon" href="{{public}}favicon.ico" type="image/x-icon">
	{{> style styleguide}}
