{{> header}}
{{> style user/login}}
{{> body_start}}
	<form id="login" action="{{public}}inloggen?next={{? next}}" method="post">
		{{& token}}
		<div class="inline">
			<label for="emailaddress">Bewonernaam</label>
			<input id="emailaddress" type="text" name="emailaddress" autocapitalize="none">
		</div>
		<div class="inline">
			<label for="password">Wachtwoord</label>
			<input id="password" type="password" name="password">
		</div>
		
		{{# message}}
			<p class="message">{{message}}</p>
		{{/ message}}
		
		<div class="inline">
			<input type="submit" value="Inloggen">
		</div>
	</form>
	<p>Je kunt ook inloggen met je e-mailadres of bewonernummer.</p>
	<!--
	<p><a href="{{public}}wachtwoord/herstellen">Wachtwoord vergeten</a>?</p>
	-->
{{> body_end}}
{{> footer}}
